html, body {
  height: 100%;
  width: 100%;
}

.container-video
{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.container {
  height: 100px;
  width: 100px;
  text-align:center;
  margin: auto;
}


